{% extends "contenido/plantilla.html"%}

{% block contenido %}
  
  <!--Banner-->
  <div class="banner">
    <div class="bg-color">
      <div class="container">
        <div class="row">
          <div class="banner-text text-center">
            <div class="text-border">
              <h2 class="text-dec">Conocimiento y Calidad</h2>
            </div>
            <div class="intro-para text-center quote">
              <p class="big-text">Aprende hoy . . . Construye mañana.</p>
              <p class="small-text">Bienvenido a Edu-Moocks la pagina donde encontraras una variendad de cursos destinados a expander el conocimiento de las tecnologias mediante distintos cursos que puedes adquirir</p>
              <a href="#organizacion" class="btn get-quote">Explorar</a>
            </div>
            <a href="#organizacion" class="mouse-hover">
              <div class="mouse"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ Banner-->
  <!--Feature-->
  <section id="organizacion" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="header-section text-center">
          <h2>¿Quienes somos?</h2>
          <p>Edu-Moocks<br> Es el sitio correcto para poder comenzar o adquirir mayor conocimiento en las ramas de las tecnologias de la informacion con nuestro catalogo de cursos que puedes tomar con nuestros expertos que trataran de explicar lo que mejor saben hacer.</p>
          <hr class="bottom-line">
        </div>
        <div class="feature-info">
          <div class="fea">
            <div class="col-md-4">
              <div class="heading pull-right">
                <h4>Las ultimas tecnologias</h4>
                <p>Nuestro sitio cuenta con las ultmias actualizaciones sobre las tecnologis que se utilizan hoy en dia. Aprende sobre lo mejor que se utiliza en el mercado de hoy en dia.</p>
              </div>
              <div class="fea-img pull-left">
                <i class="fa fa-css3"></i>
              </div>
            </div>
          </div>
          <div class="fea">
            <div class="col-md-4">
              <div class="heading pull-right">
                <h4>Conoce nuestro catalogo</h4>
                <p>Navega entre nuesto catalogo y obten experiencia en la tecnologia que necesites emprender, mejora tu concimiento con nuestros expertos dentro de la plataforma. </p>
              </div>
              <div class="fea-img pull-left">
                <i class="fa fa-drupal"></i>
              </div>
            </div>
          </div>
          <div class="fea">
            <div class="col-md-4">
              <div class="heading pull-right">
                <h4>Alcanza tu meta</h4>
                <p>Finaliza tus concocimientos y obten experiencia para poder continuar ha expandir tus conocimiento para tu futuro.</p>
              </div>
              <div class="fea-img pull-left">
                <i class="fa fa-trophy"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ feature-->
  
  <!--Cursos-->
  <section id="cursos" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="header-section text-center">
          <h2>Cursos</h2>
          <p>Contamos con una variedad de distintas ramas <br> de la tecnologia que te pueden ayudar a expandir tu conocimiento.</p>
          <hr class="bottom-line">
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-box text-center">
            <div class="icon-box">
              <img src="static/contenido/img/html.png" width="150px" alt="150px">
            </div>
            <div class="icon-text">
              <h4 class="ser-text">HTML5</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 border-solid">
          <div class="service-box text-center">
            <div class="icon-box">
              <img src="static/contenido/img/css.png" width="150px" alt="150px">
            </div>
            <div class="icon-text">
              <h4 class="ser-text">CSS3</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-box text-center">
            <div class="icon-box">
              <img src="static/contenido/img/py.png" width="150px" alt="150px">
            </div>
            <div class="icon-text">
              <h4 class="ser-text">Pyhton</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-box text-center">
            <div class="icon-box">
              <img src="static/contenido/img/java.png" width="150px" alt="150px">
            </div>
            <div class="icon-text">
              <h4 class="ser-text">Java</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-box text-center">
            <div class="icon-box">
              <img src="static/contenido/img/animation.png" width="150px" alt="150px">
            </div>
            <div class="icon-text">
              <h4 class="ser-text">Animacion Digital</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-box text-center">
            <div class="icon-box">
              <img src="static/contenido/img/seguridad.png" width="150px" alt="150px">
            </div>
            <div class="icon-text">
              <h4 class="ser-text">Seguridad Web</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-box text-center">
            <div class="icon-box">
              <img src="static/contenido/img/script.png" width="150px" alt="150px">
            </div>
            <div class="icon-text">
              <h4 class="ser-text">JavaScript</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-box text-center">
            <div class="icon-box">
              <img src="static/contenido/img/base.png" width="150px" alt="150px">
            </div>
            <div class="icon-text">
              <h4 class="ser-text">Bases de Datos</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-box text-center">
            <div class="icon-box">
              <img src="static/contenido/img/xamp.png" width="150px" alt="150px">
            </div>
            <div class="icon-text">
              <h4 class="ser-text">Servidores Web</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ work-shop-->
 
  
 <!--Contact-->
 <section id="contacto" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="header-section text-center">
        <h2>Contacto</h2>
        <p>Deja tu opinion sobre nuestro sitio <br> nos ayudara a mejorarlo.</p>
        <hr class="bottom-line">
      </div>
      <div id="sendmessage">Su mensaje se guardo correctamente!!</div>
      <div id="errormessage"></div>
      <form action="" method="post" role="form" class="contactForm">
        <div class="col-md-6 col-sm-6 col-xs-12 left">
          <div class="form-group">
            <input type="text" name="name" class="form-control form" id="name" placeholder="Nombre" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
            <div class="validation"></div>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Please enter a valid email" />
            <div class="validation"></div>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 right">
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Comentario"></textarea>
            <div class="validation"></div>
          </div>
        </div>

        <div class="col-xs-12">
          <!-- Button -->
          <input type="submit" class="btn btn-success" value="Enviar Comentario"></input>
        </div>
      </form>

    </div>
  </div>
</section>
<!--/ Contact-->

{%endblock%}


