{% extends "contenido/plantilla.html"%}

{% block contenido%}

<br><section id="cursos" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="header-section text-center">
            <h2>Categorias</h2>
            <hr class="bottom-line">
          </div>

        <br><div class="card text-center service-box dark">
            <img src="/static/principal/img/programacion.jpg" width="300px" alt="300px">
            <div class="card-header">
                Cursos Relacionados a:
            </div>
            <div class="card-body">
              <h3 class="card-title">Programacion</h3>
              <p class="card-text">Categoria especializada en la programacion.<br>Aprende a crear un CRUD sencillo hasta la realizacion de un sitio web completo.<br> Entre muchas mas otras cosas.</p>
              <a href="{% url 'Programacion' %}" class="btn btn-primary">Explorar</a>
            </div>
          </div><br>
  

        <br><div class="card text-center service-box dark">
            <img src="/static/principal/img/animacion.jpg" width="300px" alt="300px">
            <div class="card-header">
                Cursos Relacionados a:
            </div>
            <div class="card-body">
            <h3 class="card-title">Animacion Digital</h3>
            <p class="card-text">Te gustaria realizar animaciones como cinematicas de videojuesgo, anuncios publicitarios, Modelado 3D.<br> Si es asi este apartado es lo que buscas, aprende a realizar animaciones desde cero.</p>
            <a href="{% url 'Animacion' %}" class="btn btn-primary">Explorar</a>
            </div>
        </div><br>
 

    <br><div class="card text-center service-box dark">
        <img src="/static/principal/img/seguridad.jpg" width="300px" alt="300px">
            <div class="card-header">
                Cursos Relacionados a:
            </div>
            <div class="card-body">
            <h3 class="card-title">Seguridad Web</h3>
            <p class="card-text">¿Te interesa saber como se compone una red ethernet, realizar mapeos, montar IPs?.<br>Puedes explorar este apartado para encontrar lo que deseas y poder crear una red segura para uso personal.</p>
            <a href="" class="btn btn-primary">Explorar</a>
            </div>
        </div><br>

        <br><div class="card text-center service-box dark">
            <img src="/static/principal/img/robotica.jpg" width="300px" alt="300px">
            <div class="card-header">
                Cursos Relacionados a:
            </div>
            <div class="card-body">
            <h3 class="card-title">Robotica</h3>
            <p class="card-text">Una de las materias mas demandadas sin duda es la robotica. <br> Aprende a construir estructuras mecanicas que fucinonen con algoritmos creados por ti mismo.<br>Crea el futuro de la humanidad.</p>
            <a href="#" class="btn btn-primary">Explorar</a>
            </div>
        </div><br>

        <br><div class="card text-center service-box dark">
            <img src="/static/principal/img/base.jpg" width="300px" alt="300px">
            <div class="card-header">
                Cursos Relacionados a:
            </div>
            <div class="card-body">
            <h3 class="card-title">Bases de datos</h3>
            <p class="card-text">Sin duda las bases de datos es un apartado indispensable dentro de la programacion. <br>Aprende a construir bases de datos y a manejarlas para poder incluirlas dentro de tus proyectos.</p>
            <a href="#" class="btn btn-primary">Explorar</a>
            </div>
        </div><br>

        <br><div class="card text-center service-box dark">
            <img src="/static/principal/img/redes.jpg" width="300px" alt="300px">
            <div class="card-header">
                Cursos Relacionados a:
            </div>
            <div class="card-body">
            <h3 class="card-title">Desarrollo de Servidores</h3>
            <p class="card-text">Los servidores sin duda son un apartado necesario para poder visualizar tus proyectos dentro de la web. <br> Aprende a montar servidores que puedan soportar gran cantidad de llamadas simultaneas.</p>
            <a href="#" class="btn btn-primary">Explorar</a>
            </div>
        </div><br>
    </div>
  </section>

{%endblock%}