{% extends "contenido/plantilla.html"%}

{% block titulo %}
Informacion del curso
{% endblock %}

{% block contenido%}

<br><section id="cursos" class="section-padding">
   
    {%csrf_token%}
    
    <div class="container mx-auto">
      <div class="row">
        <div class="header-section text-center">
          <h1>Detalles del curso</h1>
          <hr class="bottom-line">
        </div>

        <div class="card">
          <div class="col-12 col-md-8 card text-center service-box">
            <div class="">
              <h2>Descripcion del curso:</h2>
              <h4 class="card-title">{{cursos.contenido}}</h4>
            </div><hr>
            <div class="">
              <h2>Contenido del curso:</h2>
              <h4 class="card-title">{{cursos.descripcion}}</h4>
            </div>
          </div>

          <div class="col-6 col-md-4 service-box">
            <h2>Informacion del curso:</h2>
            <div class="text-center">
              <img class="card-img-top" src="{{cursos.imagen.url}}" width="250" alt="150">
            </div>
            <hr>
            <div class="card-body">
              <h3 class="card-title">Nombre del curso: {{cursos.nombre}}</h3>
              <h4 class="card-text">Profesor: {{cursos.creador}}</h4>
              <h4 class="card-text">Precio del curso: $ {{cursos.precio}}.00 pesos</h4>
              <h4 class="card-text">Fecha de Inicio: {{cursos.creates}} </h4>
            </div><br></hr>

            <div class="text-center">
              <a href="{% url 'Comprar' cursos.id %}" class="btn btn-success btn-block">Adquirir Curso</a>
            </div>
          </div>

          </div>
        </div>
      </div><br>
  </section>
{% endblock%}