{% extends "contenido/plantilla.html"%}

{%block contenido %}
<section id="contacto" class="section-padding">
    <div class="container">
    </div>
    <br><form class="form-horizontal" action="#" role="form">
	    <div class="panel panel-default">
	        <div class="panel-body">

                <div class="header-section text-center">
                    <br><h2>¡Crea tu cuenta en Edu-Moocks!</h2>
                    <p>¡¡Una gran cantidad de cursos te esperan!!. <br>Expande o refuerza tus conocimientos para obtener mayor experiencia.</p>
                    <hr class="bottom-line">
                </div>

				<div class="form-group">
				    <label class="col-sm-5 control-label text-center">Nombre de usuario:</label>
				    <div class="col-sm-4">
				        <input type="text" class="form-control">
				    </div>
				</div>

				<div class="form-group">
				    <label class="col-sm-5 control-label text-center">Correo Electronico:</label>
				    <div class="col-sm-4">
				        <input type="text" class="form-control">
				    </div>
				</div>
				        
				<div class="form-group">
				    <label class="col-sm-5 control-label text-center">Contraseña:</label>
				        <div class="col-sm-4">
				            <input type="text" class="form-control">
				    	</div>
				</div>
				        

				<div class="container">
					<div class="row">
					  <div class="col text-center">
						<button class="btn btn-primary" value="Terminar Registro">Terminar Registro</button>
					  </div>
					</div>
				</div><hr>

				<div class="form-group">
					<label class="col-sm-7 control-label text-center">¿Ya cuentas con una contraseña?</label>
					<div class="col-sm-3">
						<label><a href="{% url 'Login' %}">¡Inicia Sesion!</a></label>
					</div>
				</div>

			</div>
		</div>
	</form>

  </section>
{%endblock%}